<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}

        <p>This website is currently being updated. We will be back soon !</p>

        {{> footer}}
    </body>
</html>
